@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: #FFFFFF;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
}

.NavBar {
    display: flex;
    justify-content: space-around;
    background-color: var(--background-color);
    align-items: center;
    padding: 1rem 0;
}

.NavBar__logo {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
    margin-left: 7rem;
}

.NavBar__links {
    display: flex;
    gap: 2rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #667085;
    margin-right: 16rem;
    margin-left: 7.4rem;
}

.NavBar__botoes {
    display: flex;
    gap: 0.75rem;
    margin-right: 7rem;
}

.NavBar__botoes__entrar {
    background-color: var(--background-color);
    border: none;   
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #667085;
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.NavBar__botoes__cadastrar {
    background-color: #8E2424;
    padding: 0.8rem 1rem;
    font-family: 'Inter', sans-serif;
    font-size: 1rem;
    font-weight: 500;
    color: #FFFFFF;
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
}   