@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: #FFFFFF;
    --font-family: 'Inter', sans-serif;
    --title-text-color: #101828;
    --main-color: #8E2424;
    --text-color: #667085;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    width: 100%;
    height: 100vh;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: center;
    margin: 2rem 7rem 8rem 7rem;
    padding: 0 2rem;
}

.NavBar__logo {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
}

.NavBar__links {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    text-decoration: none;
    padding-right: 23.7rem;
}

.NavBar__links__SobreNos {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.NavBar__botoes {
    display: flex;
    gap: 0.75rem;
}

.NavBar__botoes__entrar {
    background-color: var(--background-color);
    border: none;   
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.NavBar__botoes__cadastrar {
    background-color: var(--main-color);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--background-color);
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
}   

.SobreNos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-bottom: 6.7rem;
}

.SobreNos__texto {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

.SobreNos__titulo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-text-color)
}

.SobreNos__paragrafo {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-color);
    max-width: 49rem;
    line-height: 1.5;
}

.Dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 7rem 12rem 7rem;
    padding: 0 2rem;
    text-align: left;
}

.Dados__Projetos, .Dados__Colaboradores, .Dados__Downloads, .Dados__Reviews {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.Dados__Projetos__numero, .Dados__Colaboradores__numero, .Dados__Downloads__numero, .Dados__Reviews__numero {
    font-size: 3.75rem;
    font-weight: bold;
    color: var(--main-color);
    
}

.Dados__Projetos__titulo, .Dados__Colaboradores__titulo, .Dados__Downloads__titulo, .Dados__Reviews__titulo {
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--title-text-color);  
    line-height: 1.75rem;
}

.Dados__Projetos__descricao, .Dados__Colaboradores__descricao, .Dados__Downloads__descricao, .Dados__Reviews__descricao {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    max-width: 17.5rem;
    line-height: 1.5;
}

.Anuncio {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin: 0rem 5rem 4rem 5rem;
}

.Anuncio__VagasAbertas {
    font-size: 0.875rem;
    font-weight: 500;
    color: var(--main-color);
    font-family: var(--font-family);
    background-color: #8E24240D;
    padding: 0.25rem 0.75rem;
    border-radius: 1rem;
}

.Anuncio__titulo {
    font-size: 2.25rem;
    font-weight: 600;
    color: var(--title-text-color);
    line-height: 2.75rem;
    margin-bottom: 0.25rem;
}

.Anuncio__paragrafo {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.875;
}

.Anuncio__imagem {
    margin-top: 3rem;
    height: auto;
    padding: 0 2rem;
    width: 106rem;
}

.Vagas {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin: 0 7rem;
    padding: 0 2rem;
    
}
.Vagas__Design__ProductDesign, .Vagas__Design__UXDesigner, .Vagas__Desenvolvimento__IOS, .Vagas__Desenvolvimento__Frontend, .Vagas__Desenvolvimento__Backend {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-top: 1.5rem;  
    margin-bottom: 1.5rem;
    width: 48rem;
    border: #EAECF0 1px solid;
    border-radius: 1rem;
    font-family: var(--font-family);

}

.Vagas__Desenvolvimento__titulo, .Vagas__Design__titulo {
    font-size: 1.25rem;
    font-weight: 500;
    color: var(--title-text-color);
    line-height: 1.875rem;
    margin-bottom: 2rem ;
}

.Vagas__Design__ProductDesign__titulo, .Vagas__Design__UXDesigner__titulo, .Vagas__Desenvolvimento__IOS__titulo, .Vagas__Desenvolvimento__Frontend__titulo, .Vagas__Desenvolvimento__Backend__titulo {
    font-size: 1.125rem;
    font-weight: 500;
    color: var(--title-text-color);
    line-height: 1.875rem;
    align-self: start;
    padding: 0 1.5rem 2rem 
}

.Vagas__Design__ProductDesign__informacoes, .Vagas__Design__UXDesigner__informacoes, .Vagas__Desenvolvimento__IOS__informacoes, .Vagas__Desenvolvimento__Frontend__informacoes, .Vagas__Desenvolvimento__Backend__informacoes {
    display: flex;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    line-height: 1.5;
    padding: 0 1.5rem 2rem;
    align-self: start;
    flex-direction: row;
    gap: 1.5rem;
}