@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

:root {
    --background-color: #FFFFFF;
    --font-family: 'Inter', sans-serif;
    --title-text-color: #101828;
    --main-color: #8E2424;
    --text-color: #667085;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-family);
}

body {
    width: 100%;
    height: 100vh;
}

.NavBar {
    display: flex;
    justify-content: space-between;
    background-color: var(--background-color);
    align-items: center;
    padding: 1rem 7rem;
}

.NavBar__logo {
    display: flex;
    align-items: center; 
    gap: 0.5rem;
}

.NavBar__links {
    display: flex;
    gap: 2rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    margin-right: 16rem;
    margin-left: 7.4rem;
    text-decoration: none;
}

.NavBar__links__SobreNos {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
}

.NavBar__botoes {
    display: flex;
    gap: 0.75rem;
}

.NavBar__botoes__entrar {
    background-color: var(--background-color);
    border: none;   
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color);
    padding: 0.8rem 1rem;
    cursor: pointer;
}

.NavBar__botoes__cadastrar {
    background-color: var(--main-color);
    padding: 0.8rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    color: var(--background-color);
    border-radius: 0.5rem;
    border: none;
    text-decoration: none;
    cursor: pointer;
}   

.SobreNos {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1.5rem;
    margin-top: 6rem;
    margin-bottom: 6.7rem;
}

.SobreNos__texto {
    font-size: 1rem;
    font-weight: 600;
    color: var(--main-color);
}

.SobreNos__titulo {
    font-size: 3rem;
    font-weight: 600;
    color: var(--title-text-color)
}

.SobreNos__paragrafo {
    font-size: 1.25rem;
    font-weight: 400;
    color: var(--text-color);
    max-width: 49rem;
    line-height: 1.5;
}

.Dados {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 0 7rem;
    text-align: left;
}

.Dados__Projetos {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
}

.Dados__Projetos__numero, .Dados__Colaboradores__numero, .Dados__Downloads__numero, .Dados__Reviews__numero {
    font-size: 3.75rem;
    font-weight: bold;
    color: var(--main-color);
    
}

.Dados__Projetos__titulo, .Dados__Colaboradores__titulo, .Dados__Downloads__titulo, .Dados__Reviews__titulo {
    font-size: 1.12rem;
    font-weight: 500;
    color: var(--title-text-color);  
    line-height: 1.75rem;
}

.Dados__Projetos__descricao, .Dados__Colaboradores__descricao, .Dados__Downloads__descricao, .Dados__Reviews__descricao {
    font-size: 1rem;
    font-weight: 400;
    color: var(--text-color);
    max-width: 17.5rem;
    line-height: 1.5;
}



